<footer class="footer">
    <div class="footer__wrap">
      <div class="footer__block">
        <a href="/" class="footer__home"><img class="footer__logo" src="{{ base_url }}assets/img/logo.png" alt="Zenith" /></a>
      </div>
      <div class="footer__block">
        <ul class="footer__list">
          <li class="footer__text">Дизайн и согласование вывесок</li>
          <li class="footer__text">Изготовление вывесок</li>
          <li class="footer__text">Монтаж вывесок</li>
        </ul>
      </div>
      <div class="footer__block">
        <p class="footer__text">+7 812 642 69 40</p>
        <p class="footer__text"><a class="footer__link" href="mailto:welcome@zenith-vs.ru">welcome@zenith-vs.ru</a></p>
        <p class="footer__text">Санкт-Петербург, Митрофаньевское ш. 2</p>
      </div>
    </div>
  </footer>
</body>
</html>
